<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tju.elmboot.mapper.OrdersMapper">

    <resultMap id="ordersResultMap" type="com.tju.elmboot.po.Orders">
        <id column="orderId" property="orderId"/>
        <result column="userId" property="userId"/>
        <result column="businessId" property="businessId"/>
        <result column="orderDate" property="orderDate"/>
        <result column="orderTotal" property="orderTotal"/>
        <result column="daId" property="daId"/>
        <result column="orderState" property="orderState"/>

        <association property="business" javaType="com.tju.elmboot.po.Business"
                select="com.tju.elmboot.mapper.BusinessMapper.getBusinessById" column="businessId"/>

        <collection property="list" ofType="com.tju.elmboot.po.OrderDetailet"
                select="com.tju.elmboot.mapper.OrderDetailetMapper.listOrderDetailetByOrderId" column="orderId"/>

    </resultMap>

    <select id="getOrdersById" parameterType="integer" resultMap="ordersResultMap">
        select *
        from orders
        where orderId=#{orderId};
    </select>

    <select id="listOrdersByUserId" parameterType="string" resultMap="ordersResultMap">
        select * from orders where userId=#{userId} order by orderId;
    </select>

    <insert id="saveOrders" parameterType="com.tju.elmboot.po.Orders" useGeneratedKeys="true" keyProperty="orderId">
        insert into orders(userId,businessId,orderDate,orderTotal,daId,orderState) values(#{userId},#{businessId},#{orderDate},#{orderTotal},#{daId},0)
    </insert>

    <update id="createOrders" parameterType="com.tju.elmboot.po.Orders" >
        update business set orderCount=orderCount+1 where businessId=#{businessId};
    </update>

</mapper>